<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/42f8591c-9fd1-47ac-95bb-7c32858bf1cd/resourcegroups/Ignite2018PreConf/providers/Microsoft.ContainerRegistry/registries/Ignite2018PreConfWorkshop20180923082041</ResourceId>
    <ResourceName>Ignite2018PreConfWorkshop20180923082041</ResourceName>
    <ResourceGroup>Ignite2018PreConf</ResourceGroup>
    <Subscription>Visual Studio Premium with MSDN(Converted to EA)</Subscription>
    <RegistryUrl>https://ignite2018preconfworkshop20180923082041.azurecr.io/</RegistryUrl>
    <UserName>Ignite2018PreConfWorkshop20180923082041</UserName>
    <PublishImageTag>
    </PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>93d15c40-61b4-455e-abeb-8ca0ddde64c9</ProjectGuid>
  </PropertyGroup>
</Project>